html, body {
	overflow-y: hidden; 
	text-align: center;
}
.cover {
	position: relative;
    background: url(../img/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    height: 83vh;
    justify-content: center;
}
.avatar {
	position: relative;
    background: url(../img/avatar.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}
label {
	font-size: 3em;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
.btn-group {
    background: #191919;
    height: 10vh;
}
.btn-group .fa {
	font-size: 40px !important;
	padding: 15px;
    color: white;
}
.btn-group .fa:hover {
	color: white;
}
.btn-group .fa:link {   
    text-decoration: none;   
}
.facebook-box {
    border-right: 1px solid #111111;
}
.facebook-box:hover {
	background-color: #3B5998;
}
.linkedin-box {
    border-left: 1px solid #111111;
}
.github-box:hover {
	background-color: #333333;
}
.linkedin-box:hover {
	background-color: #0077B5;
}

/* Footer */
footer {
    width: 100%;
    clear: both;
    color: #666;
    background: #111111;
    line-height: 40px;
    overflow: hidden;
    height: 7vh;
    font-family: 'Nunito', sans-serif;
}
footer p a {
    color: #666;
}
footer p a:hover {
    color: #666;
    text-decoration: underline;
}