html, body {
	overflow-y: hidden; 
	text-align: center;
}
.cover {
	position: relative;
    background: url(../img/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    height: 83vh;
    justify-content: center;
}
.avatar {
	position: relative;
    background: url(../img/avatar.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}
label {
	font-size: 3em;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
.btn-group {
    background: #191919;
    height: 12vh;
}
.btn-group .fa {
	font-size: 40px;
    color: white;
}
.btn-group .fa:hover {
	color: white;
}
.btn-group .fa:link {   
    text-decoration: none;   
}
.facebook-box {
    border-right: 1px solid #111111;
}
.facebook-box:hover {
	background-color: #3B5998;
}
.instagram-box {
    border-right: 1px solid #111111;   
}
.instagram-box:hover {
    background-color: #125688;
}
.github-box:hover {
    background-color: #333333;
}
.linkedin-box {
    border-left: 1px solid #111111;
}
.linkedin-box:hover {
	background-color: #0077B5;
}

/* Footer */
footer {
    width: 100%;
    color: #666;
    background: #111111;
    line-height: 35px;
    height: 5vh;
    font-family: 'Nunito', sans-serif;
}
footer p a {
    color: #666;
}
footer p a:hover {
    color: #666;
    text-decoration: underline;
}

.retraso {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.retraso-1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.retraso-2 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.retraso-3 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}
.retraso-4 {
    -webkit-animation-delay: 2s.5;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}